.DS_Store
.vs
.suo
Library
Temp
UnityVS
AssetStoreTools
obj/*
bin/
/Assets/AssetStoreTools.meta
/Assets/UnityVS.meta
/Assets/Slua/LuaObject
/Assets/Slua/LuaObject.meta
/ProjectSettings
*.userprefs

/*.csproj
/*.sln
